[submodule "libft"]
	path = libft
	url = https://github.com/walord99/libft
[submodule "minilibx-mac-osx"]
	path = minilibx-mac-osx
	url = git@github.com:dannywillems/minilibx-mac-osx.git
[submodule "minilibx-linux"]
	path = minilibx-linux
	url = git@github.com:42Paris/minilibx-linux.git
